@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,700;1,800&display=swap");

:root {
  --primary-color: #d9232d;
  --seconday-color: #556270;
  --highlight-color: #f8f9fa;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
i {
  color: #444444;
}

.container {
  max-width: 1300px;
  margin: auto;
}

.d-flex {
  display: flex;
}

section {
  padding: 60px 0;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  padding: 10px 15px;
}

h3 {
  font-weight: 500;
  line-height: 32px;
}

.space-around {
  justify-content: space-around;
}

.sec-bg {
  background-color: var(--highlight-color);
}

/* header */
header {
  background-color: #fff;
  height: 80px;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0px 0px 10px #9f9f9f;
  z-index: 500;
}
.logo a {
  font-size: 34px;
  display: inline;
  text-decoration: none;
  color: var(--seconday-color);
}
.head {
  width: 100%;
}

.navbar {
  flex: 1;
  align-self: center;
}
.navbar > ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}
.navbar > ul > li {
  margin-left: 30px;
  font-weight: 500;
}

.navbar > ul > li .active,
.navbar > ul > li a:hover {
  color: var(--primary-color);
}
.navbar > ul > li .getstarted {
  color: #fff;
  background-color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 4px;
}
.navbar > ul > li .getstarted:hover {
  color: #fff;
  background-color: #db474e;
}
header a {
  text-decoration: none;
  color: var(--seconday-color);
}

/* banner */
.banner {
  height: 100vh;
  background: url("../images/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0;
}

.banner::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
}
.banner > * {
  z-index: 5;
}

.banner .inner-text {
  margin: 0 150px;
  margin-top: 80px;
  text-align: center;
}
.text-white {
  color: #fff;
}
.banner .inner-text h2 {
  font-size: 3rem;
  margin-bottom: 1.8rem;
}
.banner .inner-text p {
  font-size: 1.2rem;
}

.p-btn {
  background-color: var(--primary-color);
  padding: 14px 40px;
  border: none;
  margin: 30px 0;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
}
.banner > .inner-nav {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  justify-content: center;
  display: flex;
}

.banner > .inner-nav > .bullet.active {
  background-color: var(--primary-color);
}
.banner > .inner-nav > .bullet {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 5px;
  background-color: #fff;
}

/* contents */

.col > h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.col > ul {
  line-height: 1.4rem;
  margin: 10px 0px;
}
.col > ul > li {
  display: flex;
}
.col > ul > li > i {
  color: var(--primary-color);
  --ggs: 1.2;
  margin-right: 10px;
}
.italic {
  font-style: italic;
  font-weight: 400;
}

.client .col {
  justify-content: center;
  align-items: center;
  display: flex;
}
.client img {
  width: 60%;
}

/* box */

.icon-box {
  background: var(--highlight-color);
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 50px;
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon-box:hover a {
  color: var(--primary-color);
}

.icon-box i {
  --ggs: 2;
  color: var(--primary-color);
}

.box-content {
  flex: 0.8;
}

.icon-box h4 {
  margin-bottom: 15px;
}
.icon-box p {
  font-size: 14px;
  line-height: 20px;
}
.icon-box h4 a {
  color: #556270;
  text-decoration: none;
}

/* portfolio / gallery */

.portfolio .center {
  justify-content: center;
  align-items: center;
}
.portfolio .filter {
  display: flex;
  list-style: none;
}
.portfolio .filter li {
  padding: 10px 20px;
  border-radius: 4px;
  margin: 2px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
.portfolio .filter li:hover {
  background-color: var(--primary-color);
  color: white;
}
.portfolio .filter li.active {
  background-color: var(--primary-color);
  color: white;
}

.portfolio .col > img {
  width: 100%;
  margin: 10px;
}
.portfolio .col {
  display: flex;
  flex-wrap: wrap;
}

/* footer */

footer .container.row {
  justify-content: space-evenly;
}
footer {
  background-color: #515d6a;
  padding-top: 80px;
}

footer h3 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 15px;
}
footer h4 {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding-bottom: 12px;
}

footer p {
  color: #fff;
  font-size: 14px;
}

footer .about {
  flex: 0.2;
}

footer .about .social {
  padding: 15px 0;
  display: flex;
}
footer .about .social a:hover {
  background-color: var(--primary-color);
}
footer .about .social a {
  background-color: #13283f;
  padding: 10px;
  border-radius: 5px;
  margin-right: 16px;
}
footer .about .social i {
  color: white;
}

footer .links {
  flex: 0.15;
}
footer .links ul {
  list-style: none;
}
footer .links ul > li > i {
  --ggs: 0.8;
  color: white;
}
footer .links ul li {
  margin: 15px 0;
  align-items: center;
  display: flex;
}
footer .links ul a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

footer .newsletters {
  flex: 0.3;
  padding-left: 35px;
}

footer .newsletters .iemail {
  padding: 14px 12px;
  border: none;
  margin: 30px 0;
  color: #000;
  font-weight: 500;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  min-width: 250px;
}
footer .newsletters .isub {
  background-color: var(--primary-color);
  padding: 14px 25px;
  border: none;
  margin: 30px 0;
  color: #fff;
  font-weight: 500;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.copyright {
  background-color: #3e4852;
  padding: 24px;
  margin-top: 80px;
}
.copyright p {
  text-align: center;
  color: white;
  line-height: 22px;
  font-size: 15px;
}
